* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Rubik", sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

body::before {
  position: fixed;
  content: "";
  background: linear-gradient(200deg, #e345fe 5%, #903aff 95%);
  height: 50rem;
  width: 25rem;
  border-bottom-right-radius: 35rem;
  z-index: -1;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 5rem;
}

.phone-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 25rem;
  min-height: 50.5rem;
  border-radius: 3rem;
  padding: 1rem;
  box-shadow: 0px 25px 35px -12px hsl(206, 6%, 79%);
}

.phone-wrapper::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  margin: auto;
  background-color: inherit;
  width: 12.5rem;
  border-radius: 0 0 1.2rem 1.2rem;
  height: 2rem;
  z-index: 1;
}

.phone {
  background-color: hsl(270, 20%, 96%);
  display: flex;
  flex-direction: column;
  border-radius: 3rem;
}

.helper-profile {
  border-radius: 2rem 2rem .5rem .5rem;
  min-height: 6.5rem;
  padding: 0 1.6rem 1.1rem;
  color: hsl(0, 0%, 100%);
  background: linear-gradient(90deg, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  display: flex;
  align-items: flex-end;
}

.helper-profile i {
  margin-bottom: .7rem;
  margin-left: auto;
}

.helper-pic {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1rem;
  border-radius: 50%;
  border: 1px solid white;
  overflow: hidden;
}

.name {
  display: block;
  font-size: 1.1rem;
  opacity: 80%;
}

.status {
  font-size: .8rem;
  opacity: 60%;
}

.chat {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 23rem;
}

.messages {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}


.received,
.sent,
.price-details {
  font-size: .8rem;
  max-width: 12.6rem;
  padding: .7rem;
  line-height: 1rem;
}

.sent {
  color: hsl(276, 55%, 52%);
  background-color: hsla(276, 100%, 81%, 0.2);
  border-radius: .9rem .9rem .9rem .2rem;
}

.sent:nth-last-child() {
  margin-top: 1rem;
}

.received {
  color: hsl(271, 15%, 43%);
  background-color: hsl(0, 0%, 100%);
  align-self: flex-end;
  padding: .5rem .8rem;
  border-radius: .9rem .9rem .2rem .9rem;
  box-shadow: 0px 1rem 1rem -1rem hsl(206, 6%, 79%);
}

.chat-pictures {
  margin-top: .5rem;
  display: flex;
  gap: .7rem;
  align-self: flex-end;
}

.dog-img {
  height: 4rem;
  width: 4rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 1rem 1rem -1rem hsl(206, 6%, 79%);
}

.price-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  background: linear-gradient(90deg, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  padding: 1rem;
  padding-left: .7rem;
  padding-right: 1.7rem;
  max-width: 16rem;
  margin-top: -.3rem;
  border-radius: .9rem .9rem .9rem .3rem;
}

.price-details i {
  color: hsl(289, 100%, 72%);
  margin-right: .7rem;
}

.price {
  font-size: 1.2rem;
  margin-left: auto;
  font-weight: bold;
}


.send-msg {
  margin: 1rem;
  background-color: white;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  padding: .4rem .1rem;
  padding-left: 1.8rem;
  border-radius: 1.5rem;
}

.send-msg span {
  color: hsl(206, 6%, 79%);
  font-size: .9rem;
}

.send-msg i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #3D2650;
  border-radius: 50%;
  height: 2.4rem;
  width: 2.4rem;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2.2rem;
  padding-top: 1rem;
  max-width: 64rem;
}

.description h1 {
  font-size: 4rem;
  font-weight: 500;
  color: hsl(271, 36%, 24%);
}

.description p {
  color: hsl(270, 7%, 64%);
  font-size: 1.6rem;
  line-height: 2.8rem;
}

footer {
  margin-top: auto;
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1100px) {

  body::before {
    height: 60rem;
    width: 42rem;
  }

  .illustration {
    gap: 12rem;
    flex-direction: row;
    width: 70%;
  }

  .description {
    text-align: left;
  }
}